* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* 其余CSS代码保持不变 */
body {
  background-color: #000; 
  color: #000;
  font-family: 'Playfair Display', serif;
  min-height: 100vh;
  position: relative;
}

.navbar {
  width: 100%;
  height: 109px;
  background: rgba(255, 255, 255, 0.85); 
  border: 1px solid #000;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 65px;
  position: relative; 
  z-index: 100; 
}

.logo img {
  width: 144px;
  height: 68px;
  display: block; 
}

.nav-links {
  display: flex;
  gap: 80px; 
}

.nav-link {
  color: #000; 
  font-size: 32px;
  text-decoration: none;
}

.container {
  padding-top: 20px; 
}

.dots-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px; 
}

.dot-row {
  display: flex;
  gap:120px; 
  align-items: center;
}

.dot {
  width: 160px;
  height: 160px;
  background-color: #e60000; 
  border-radius: 50%;
}

.center-logo {
	width: 377px;
	height: 180px;
	display: inherit;
	align-items: center;
	justify-content: center;
}

.logo-placeholder {
  width: 100%;
  height: 100%;
  background: url("../images/v1_18.png") center/contain no-repeat;
  background-color: #e60000;
}
